[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/r52/vcpkg.git
	ignore = dirty
	branch = temp
[submodule "3rdparty/tracy"]
	path = 3rdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "3rdparty/kfr"]
	path = 3rdparty/kfr
	url = https://github.com/kfrlib/kfr.git
