main {
  height: 100px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  width: 448px;
}

.wav {
  display: flex;
}

.wav>div {
  height: 100%;
  position: relative;
  width: calc(100% / 32);
}

.wav>div>i {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.wav>div>i:before {
  background: inherit;
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
}
