body {
    font-family: "Century Gothic", CenturyGothic, sans-serif;
    user-select: none;
    user-drag: none;
    font-size: 50px;
    background-color: transparent;
    overflow: hidden;
    color: #fff;
    text-shadow: 1px 1px #000;
}
