<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Quasar</Name>
    <Version>2.0.2</Version>
    <Title>Quasar Installer</Title>
    <Publisher>r52</Publisher>
    <StartMenuDir>Quasar</StartMenuDir>
    <RunProgram>@TargetDir@/quasar.exe</RunProgram>
    <TargetDir>@HomeDir@/AppData/Local/Programs/Quasar</TargetDir>
    <AdminTargetDir>@ApplicationsDir@/Quasar</AdminTargetDir>
</Installer>
