body {
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  user-select: none;
  user-drag: none;
  font-size: 100px;
  background-color: transparent;
  overflow: hidden;
}

.ap {
  font-size: 30%;
}

.day {
  padding-left: 10px;
  font-size: 80%;
  float: left;
}

.monthday {
  padding-top: 6px;
  padding-left: 110px;
  font-size: 35%;
}

.clock {
  color: #eee;
}